#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teaches {
  margin-top: 3.2rem;
  padding: 1rem;
}

#search-teaches label {
  color: var(--color-text-in-primary);
}

#page-teacher-list section {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teaches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    bottom: -44px;
  }

  #page-teacher-list section {
    padding: 3.2rem 0;
    max-width: 720px;
    margin: 0 auto;
  }
}
