.textarea-block {
  margin-top: 2.4rem;
  position: relative;
}

.textarea-block label {
  font-size: 1.4rem;
}

.textarea-block textarea {
  width: 100%;
  min-height: 8rem;
  height: 16rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  transition: all 250ms;
  background: var(--color-input-background);
  border: 2px solid var(--color-line-in-white);
  outline: 0;
  resize: vertical;
  padding: 1.2rem 1.6rem;
  font: 1.6rem Archivo;
}

.textarea-block textarea:focus {
  border-color: var(--color-primary-dark);
}
